@import "~src/app/shared/styles/main";

.start__container {
  padding: $unit-md;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/jungle-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.start__content {
  width: 960px;
  max-width: 100%;
}

.start__create-game-form {
  margin: $unit-sm
}

$search-box-input-width: 188px;
$search-box-button-width: 90px;
.start__search-box {
  padding: $unit-sm;

  input {
    width: $search-box-input-width;
    margin-bottom: $unit-sm;
    display: block;
  }

  button {
    width: $search-box-button-width;
  }
}

.start__search-button {
  margin-right: $unit-sm;
}