@import "~src/app/shared/styles/main";

.game__player-avatar {
  color: $warn;
  background-color: #fde3cf;
  margin-bottom: $unit-sm;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.game__player-avatar--active {
  font-weight: $font-bold;
  border: 4px solid $warn;
}

nz-badge.ant-badge-rtl {
  margin-right: 0;
  margin-left: 20px;
}