@import "~src/app/shared/styles/main";

.game__player-avatar {
  color: #E75428;
  background-color: #fde3cf;
  margin-bottom: $unit-sm;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}

nz-badge.ant-badge-rtl {
  margin-right: 0;
  margin-left: 20px;
}