@import "~src/app/shared/styles/main";

.game__container {
  width: 100%;
  height: 100vh;
}

.game__content {
  height: 100%;
}

$players-width: 200px;
.game__players {
  width: $players-width;
  background-color: green;
  height: 100%;
}

$pile-width: 100px;
$pile-height: 160px;
.game__card {
  margin: $unit-md;
  width: $pile-width;
  height: $pile-height;
  background-color: #444a54;
  cursor: pointer;

  img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;

    &.game__card--selected {
      border: 5px solid lightcoral;
      opacity: 0.8;
    }
  }
}