<div class="game__container"
     *ngIf="game && player"
     nz-row
     nzAlign="middle">
    <div class="game__content"
         nzFlex="auto"
         nz-col>
        <div class="game__info-bar"
             nz-col>
            <div nz-row
                 nzAlign="middle"
                 nzJustify="center">
                <h2 nz-typography>{{game.name}}</h2>
            </div>
            <div nz-row
                 nzAlign="middle"
                 nzJustify="center">
                <nz-tag [nzColor]="'#143131'">{{game.status}}
                    | {{game.result === "none" ? "not yet decided" : game.result}}</nz-tag>
            </div>
        </div>
        <div class="game__area"
             nz-row
             nzJustify="center"
             nzAlign="middle">
            <div class="game__area-asc"
                 nz-col
                 nzFlex="auto">
                <div nz-row
                     nzJustify="center"
                     nzAlign="middle">
                    <div nz-col>
                        <div *ngFor="let pile of getPiles('asc'); let i = index"
                             (click)="selectPileForAction(pile)"
                             nz-row>
                            <div class="game__card">
                                <img src="{{ ('1-' + (i+1) ) | card }}"
                                     width="100%"
                                     height="100%">
                            </div>
                            <div class="game__card"
                                 [class.game__card--bordered]="!pile.stack.storage || pile.stack.storage.length === 0">
                                <img src="{{ pile.stack.storage[pile.stack.storage.length-1].number | card }}"
                                     *ngIf="pile.stack.storage?.length > 0"
                                     width="100%"
                                     height="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game__area-draw"
                 nz-col
                 nzFlex="auto">
                <div nz-row
                     nzJustify="center"
                     nzAlign="middle">
                    <div nz-col>
                        <div class="game__card">
                            <img src="{{ 'Default' | card }}"
                                 width="100%"
                                 height="100%">
                        </div>
                        <p nz-typography nzType="secondary">{{game.drawPile.stack.storage.length}} card(s) left on the
                            pile...</p>
                        <p nz-typography>{{player.name}} played {{game.currentActions.length}} card(s)</p>

                    </div>
                </div>
            </div>
            <div class="game__area-desc"
                 nz-col
                 nzFlex="auto">
                <div nz-row
                     nzJustify="center"
                     nzAlign="middle">
                    <div nz-col>
                        <div *ngFor="let pile of getPiles('desc'); let i = index"
                             (click)="selectPileForAction(pile)"
                             nz-row>
                            <div class="game__card"
                                 [class.game__card--bordered]="!pile.stack.storage || pile.stack.storage.length === 0">
                                <img src="{{ pile.stack.storage[pile.stack.storage.length-1].number | card }}"
                                     *ngIf="pile.stack.storage?.length > 0"
                                     width="100%"
                                     height="100%">
                            </div>
                            <div class="game__card">
                                <img src="{{ ('100-' + (i+1) ) | card }}"
                                     width="100%"
                                     height="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nz-divider></nz-divider>
        <div class="game__hand"
             nz-col
        >
            <div nz-row nzJustify="center" nzAlign="middle">
                <h3>My current hand</h3>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle">
                <div *ngFor="let card of getHand()"
                     (click)="selectCardForAction(card)"
                     class="game__card">
                    <img src="{{ card.number | card }}"
                         [class.game__card--selected]="currentAction?.card?.number === card?.number"
                         width="100%"
                         height="100%">
                </div>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle">
                <button nz-button (click)="passAction()"
                        [disabled]="!checkForPlayersTurn()"
                        class="margin-horizontal--xs">Finish move
                </button>
            </div>
        </div>
    </div>
    <div class="game__players"
         nz-col>
        <div class="game__logo">
            <a routerLink="/">
                <img src="assets/images/logo.png" width="100%">
            </a>
        </div>
        <div nz-row
             nzAlign="middle"
             nzJustify="center"
             class="padding-top--xs">
            <a class="game__rules-link" target="_blank" href="http://middys.nsv.de/wp-content/uploads/2018/01/the-game-english.pdf"><i nz-icon nzType="bulb"
                                                                                              nzTheme="outline"></i>
                Check the rules again</a>
        </div>
        <div nz-row
             nzAlign="middle"
             nzJustify="center"
             class="padding-vertical--xs">
            <button nz-button (click)="startGame()"
                    [disabled]="game.status !== 'open'"
                    class="margin-horizontal--xs margin-vertical--md">
                Start
            </button>
        </div>
        <div *ngFor="let player of getPlayers(); trackBy: trackByPlayerFn"
             nz-row
             nzAlign="middle"
             nzJustify="center">
            <app-player-avatar [player]="player" [game]="game"></app-player-avatar>
        </div>
    </div>
</div>