@import "~src/app/shared/styles/main";

$game-background: $primary;
.game__container {
  width: 100%;
  min-height: 100vh;
  background-color: $game-background;
}

.game__info-bar-tag {
  color: $primary;
}

.game__content {
  min-height: 100%;
  background-color: $white-bg;
}

.game__info-bar {
  background-color: $accent;
  height: 83px;
}

$players-width: 200px;
.game__players {
  width: $players-width;
  height: 100%;
}

.game__area {
  padding: $unit-xs;
}

.game__hand {
  padding: $unit-xs;
}

.game__logo {
  width: $players-width;
}

$pile-width: 100px;
$pile-height: 160px;
.game__card {
  margin: $unit-sm;
  width: $pile-width;
  height: $pile-height;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: .2em .2em .5em $primary;

  img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid $primary;
    border-radius: 5px;

    &.game__card--selected {
      border: 5px solid $warn;
      opacity: 0.8;
    }
  }

  &.game__card--bordered {
    border: 1px solid $primary;
    border-radius: 5px;
    box-shadow: .2em .2em .5em $primary;
  }

  &.game__card--info {
    box-shadow: none;
    cursor: auto;
  }
}

.game__rules-link {
  color: $white-bg;
}