@import "~src/app/shared/styles/main";

.landing__container {
  padding: $unit-sm;
  background-image: url('/assets/images/jungle-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}